*{
    margin:0%;
    padding:0%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
::-webkit-scrollbar {
    display: none;
}
header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('Album//contactt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    /*for text should not copy */
}
@media screen and (max-width:600px) {
    header {
        width: 100%;
        height: 660px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('Album//img21.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }
} 
@media only screen and (max-width:600px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;

    } 
    /* body{
        overflow-x: hidden;
    } */
}
body{
    overflow-x: hidden;
}
.navbar{
    width: 100%;
    height: 11vh;
    background: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.title1{
    font-size: 1.9rem;
    margin-left: 20px;
    color:white;
    display: flex;
    align-items: center;
}
@media screen and (max-width:600px) {
    .navbar {
        height: 6vh;
    }
    .title h2 {
        font-size: 1.2rem;
        width: 150px;
    }

}
.menu{
    font-size: 1.3rem;
    color:white;
}
.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 40px;
    transition: 0.3s all;
}
@media screen and (max-width:600px) {
    .menu a {
        margin-right: 20px;
        transition: 0.3s all;
        font-size: 1.4rem;
        color: #000;
        display: block;
        margin-top: 40px;
        margin-bottom: 20px;
    }  
} 
.menu a:hover{
    color: #00b894;
}
@media screen and (max-width:600px){
    a:hover,a:active{
        background: none;
        color: #00b894;
    }
}
.checkbtn{
    font-size:30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
     display: none; 
}
label #btn{

}
label #cancle{
    cursor: pointer;
    display: none;
}
@media screen and (max-width:600px){
    .checkbtn{
        display: block;
    }
    .menu ul{
        position: fixed;
        width: 250px;
        margin-left: 90px;
        height: 300px;
        background-color: rgb(247, 245, 242);  
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancle{
        display: block;
    }
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section h3{
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 3px;
    color:white;
    margin-bottom: 15px;
    transition: 1s;
}
section h3:hover{
    transform: scale(1.1);
    z-index: 1;
}
section h1{
    color: white;
    font-size: 1rem;
    font-weight: 200;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
    margin-bottom: 25px;
}
@media screen and (max-width:600px) {
    main {
        height: 35vh;
    }
    section h3 {
        font-size: 2rem;
    }
}
@media screen and (max-width:600px) {
    section h1 {
        font-size: 0.8rem;
    }
} 
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    
}
@media screen and (max-width:600px) {
    section a {
        padding: 7px 17px;
        font-size: 0.6rem;
    }
} 
section .bt1{
    background: #00b894;
    color: #000;
    margin-top: 50px;
}


/*hero-section */
.q1{
    text-align: center;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;/*x axis centre */
    display: flex;
}
.q1 h2{
    width: 1000px;
    letter-spacing:1.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media screen and (max-width:600px) {
    .q1{
        height: 100px;
        width: 100%;
    }
    .q1 h2{
        font-size: 1.1rem;
        margin-top: 50px;
        margin-left: 4px;
        margin-right:5px;
    }
} 
@media screen and (max-width:460px) {
    .q1 h1{
        font-size: 1.2em;
    }
} 
@media screen and (max-width:400px) {
    .q1 h1{
        font-size: 1.1em;
    }
} 
.hero-section{
    background: linear-gradient(135deg, #72a7f2 60%, #fbfbfb 100%);
    height: 1200px;
}
@media screen and (max-width:900px){
    .hero-section{
        height: 1400px;
    }
}
@media screen and (max-width:770px){
    .hero-section{
        height: 1950px;
    }
}
@media screen and (max-width:700px){
    .hero-section{
        height: 1800px;
    }
}
@media screen and (max-width:600px){
    .hero-section{
        height: 1650px;
    }
}
@media screen and (max-width:500px){
    .hero-section{
        height: 1450px;
    }
}
@media screen and (max-width:450px){
    .hero-section{
        height: 1450px;
    }
}
@media screen and (max-width:380px){
    .hero-section{
        height: 1350px;
    }
}
.address{   
    padding: 2.5em;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #72a7f2 0%, #fbfbfb 100%);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
.address li{
    margin-top: 35px;
    margin-left: 60px;
    margin-right: 50px;
    letter-spacing: 0.7px;
    font-size: 1.3rem;
    text-overflow: ellipsis;
}
.address.phone li{
    animation-delay: 0s;
}
.address.email li{
    animation-delay: 1s;
}
.address.fb li{
    animation-delay: 2s;
}
.address.add li{
    animation-delay:3s;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media screen and (max-width:600px){
    .address{
            padding: 1em;
            width: 80%;
            margin: 0 auto;
    }
    .address li{
      padding-left: 10px;
      list-style-type: none;
    }
}
@media screen and (max-width:500px){
    .address{
        padding: 10px;
            width: 90%;
            margin:0 auto;
    }
    .address li{
        margin-top: 35px;
        margin-left: 20px;
        margin-right: 50px;
        margin-bottom: 20px;font-size: 1rem;
      list-style-type: none;
    }

}
@media screen and (max-width:450px){
    .address{
        padding: 10px;
            width: 90%;
            margin: 0 auto;
    }
    .address li{
        margin-top: 35px;
        margin-left: 30px;
        margin-right: 50px;
        margin-bottom: 20px;font-size: 1rem;
      list-style-type: none;
    }
}
@media screen and (max-width:400px){
    .address{
        padding: 10px;
            width: 90%;
            margin: 0 auto;
    }
    .address li{
        margin-top: 35px;
        margin-left: 30px;
        margin-right: 50px;
        margin-bottom: 20px;font-size: 0.9rem;
      list-style-type: none;
    }
}
@media screen and (max-width:380px){
    .address{
            padding: 1em;
            width: 80%;
            margin: 0 auto;
    }
    .address li{
      padding-left: -10px;
      font-size: 0.8rem;
      margin-left: 2px;

    }
}
/*map */
.map-msg{
    display: flex;
    gap: 9%;
}
.map{
    width: 30%; 
    max-height: 35em;
   margin-left: 10vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
iframe{
    height: 400px;
    width: 80%; 
}
.map h1{
    font-size: 2rem;
  padding: 2em;
}
@media screen and (max-width:770px){
    .map-msg{
        display: inline;
    }
    .map{
        width: 80%; 
   margin-left: 6vmax;
    }
    .map h1{
      padding: 1em;
    }
}
@media screen and (max-width:700px){
    .map-msg{
        display: inline;
    }
    .map{
        width: 80%; 
        margin: 5%;
    }
    .map h1{
      padding: 1em;
    }
}
@media screen and (max-width:600px){
    .map-msg{
        display: inline;
    }
    .map{
        width: 80%; 
        margin: 10%;
    }
    .map h1{
      padding: 1em;
    }
}
@media screen and (max-width:500px){
    .map{
        width: 80%; 
        height: 25%    }
}
@media screen and (max-width:450px){
    .map{
        width: 80%; 
        margin: 10%;
        height:20% 
    }
}
@media screen and (max-width:400px){
    .map{
        width: 80%; 
        margin: 10%;
        height:20% 
    }
}
/*msg */
.contact-container {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 30%;
    margin-top: 10%;
    text-align: center;
}

.contact-container h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #72a7f2 50%, #fbfbfb 100%);
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background:#72a7f2 ;
}

@media (max-width: 768px) {
    .contact-container {
        padding: 40px;
        width:50%;
        margin: 20%;
    }

    button {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .contact-container {
        padding: 20px;
        width:60%;
        margin: 15%;
    }
    button {
        width: 80%;
    }
}
@media (max-width: 600px) {
    .contact-container {
        padding: 20px;
        width:60%;
        margin: 15%;
    }
    button {
        width: 80%;
    }
}
/**footer **/

.fmain {
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.detail {
    color: whitesmoke;
    padding: 70px;
}
/* 
.detail a i {
    color: #00b894;
    margin-top: 20px;
    margin-right: 10px;
} */

.detail h4 {
    color: whitesmoke;
    margin-top: 20px;
}
.detail h5 {
    margin-top: 30px;
}
#id1 i {
    margin-right: 5px;
}
#id3 i {
    margin-right: 5px;
}
#id2 i {
    margin-right: 5px;
}

 @media screen and (max-width:600px){
    .detail {
        padding: 100px;
    }
    #id1 {
        font-size: 0.7rem;
    }

    #id2 {
        font-size: 0.6rem;
    }

    .detail h5 {
        font-size: 0.6rem;
    }
} 
@media screen and (max-width:400px){
    .detail {
        margin: 20px auto;
        padding: 30px;
    }
} 
